- let images = ['Aqua-Greens','Berries-Galore', 'Black-and-Bright-Orange','Blue-Accent', 'Blue-Mountain-Peaks-and-Clouds', 'Blue-Sundew', 'Blue-Sunset', 'Bright-and-Energetic', 'Bright-and-Fruity', 'Child’s-Play', 'Classic-70s', 'Classic-And-Retro', 'Czech-Architecture', 'Earthy-and-Natural', 'Earthy-Greens', 'Exotic-Orchids', 'Fiery-Red-Landscape', 'Gothic-Architecture', 'Indian-Fields', 'Inspirational-and-Romantic', 'Jazz-Night', 'Kaleidoscope-Illusions', 'Lemon-in-Water', 'Magentas-and-Yellows', 'Mediterranean-Blues', 'Natural-Elegance', 'Old-Car-and-Blue-Jeans', 'On_the_Dock_of_the_Bay', 'Orange-Sunset', 'Oriental-Opulence', 'Ornamental-Reds-and-Yellows', 'Purple-Garlic', 'Refreshing-and-Invigorating', 'Riverside-London', 'Serene-and-Relaxing', 'Shimmering-Blues-and-Greens', 'Sophisticated-and-Calm', 'Summer-Blueberries', 'Summer-Vacation', 'Sunset-in-Hamburg', 'Sunset-Over-a-Swamp', 'Swiss-Meadows', 'The-Colors-of-Nature', 'Tropical-Wildlife', 'Turquoise-and-Red', 'Twilight-Moon', 'Urban-Skyline', 'Vintage-1950s', 'Vivid-and-Retro', 'Winter-Barn']

main.main
    .contenedor
        each image in images
            figure.figure
                img.img(src=`img/${image}.jpg` alt=`${image}`)
                figcaption.caption #{image}
        