*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$color-bg: #333;
$color-light: #eee;
$fuente-principal: 'Helvetica','Arial',sans-serif;

body {
    background-color: $color-bg;
    font-family: $fuente-principal;
}

.header {
    padding: 2rem 0;
    text-align: center;
    color: $color-light;
    margin-bottom: 1rem;
}

.main {
    max-width: 1200px;
    margin: 0 auto 2rem;
}

.contenedor {
    padding: 0 1rem;
    @media screen and(min-width: 768px) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 2rem;
        grid-row-gap: 1rem;
    }
}

.figure {
    margin-bottom: 1rem;
}

.img {
    max-width: 100%;
    border-radius: 3px;
}

.caption {
    font-size: .9rem;
    padding-top: .5rem;
    text-align: center;
    color: $color-light;
    font-weight: 600;
}